body {
background-color: #EE82EE;
}

.nav_link{
text color: purple;
margin-top: 10px;
margin-left:20px;
margin-right:20px;
text-decoration: none;
background-color: lightblue;
padding: 10px;
}

.button {
  bottom: auto;
  background-color: white;
  border: rgb(247, 135, 56);
  color: white;
  padding: 11px 18px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}


.button:hover {
  background-color: GreenYellow;
  color: rgb(248, 16, 16);
}
