body {
background-color: #EE82EE;
}

.nav_link{
color: purple;
}

.button {
  bottom: auto;
  background-color: white;
  border: rgb(247, 135, 56);
  color: white;
  padding: 11px 18px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}


.button:hover {
  background-color: GreenYellow;
  color: rgb(248, 16, 16);
}


th {
  background-color: rgb(161, 161, 255)e;
  color: rgb(238, 121, 121);
}
table {
  border-collapse: collapse;
  border: 3px solid black;
  margin: 20px auto;
}

p {
  
  color: rgb(238, 39, 39);
  font-size: 30px;
  text-align: left;
  
}

h1 {
  
  color: rgb(0, 0, 0);
  text-align: left;
   font-size: 50px;
   
}


h2 {
  
  color: rgb(0, 0, 0);
  text-align: left;
   font-size: 20px;
   margin-top: 5px;
   
}

a {
  box-shadow: rgb(102, 100, 100);
  bottom: auto;
}

olor: red;
}

.space {
  font-size: 1px;

}
